@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --highlightColor: rgb(248, 68, 46);
  --textHighlight: var(--font-big-shoulders);
  --font: var(--font-geist);
}

body {
  background: var(--foreground);
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font);
}

@layer utilities {
  .animate-heartBeat {
    animation: heartBeat 0.5s ease-in-out alternate-reverse infinite;
  }
  .highlightFont {
    font-family: var(--textHighlight);
  }
  .marqueeScroll {
    animation: scrollAnimate 30s linear infinite;
  }
  .activeBoxShadow {
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .boxShadow {
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .buttonHover:hover {
    transition: transform ease-in-out 0.3s;
    transform: translate(0, -5px);
  }
}
/* *********** */
/* navbar */
/* *********** */

/* *************** */
/* form Input */
/* ****************** */
input:focus {
  color: white;
  border-bottom: 2px solid var(--highlightColor);
  outline: none;
}

textarea:focus {
  border-bottom: 2px solid var(--highlightColor);
  outline: none;
}

/* ************************** */
/* gsap animation intial state */
/* ************************** */
#text404 span,
#homepageReturn,
#serviceTab .headingDiv {
  opacity: 0;
  transform: translate(0, 50px);
}

/* *********************** */
/* keyframe animation */
/* *********************** */

@keyframes heartBeat {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes scrollAnimate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* **************** */
/* media Query */
/* ******************* */

@media (max-width: 768) {
  .swiper-wrapper {
    width: 90vw !important;
    height: 15rem !important;
  }
}
